
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-header-img">
                    <img src="~/assets/images/about.jpg" alt="about" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-header-content">
                    <h1 class="about-title">Booklovers - Sự lựa chọn của những người yêu sách</h1>
                    <p>Phục vụ khách hàng tốt nhất, nhanh nhất, chu đáo nhất và tiết kiệm nhất. Dịch vụ của chúng tôi hướng đến và hiểu những quý khách hàng là những người đọc sách.</p>
                    <p>Mục tiêu của chúng tôi là luôn mở rộng thị trường sách trực tuyến cùng với đà phát triển của công nghệ thông tin. Để thực hiện mục tiêu đó, chúng tôi đã có những nhận thức đúng đắn về vai trò của nguồn nhân lực trong xây dựng và phát triển kinh doanh. Chúng tôi đã và đang không ngừng hoàn thiện hơn nữa môi trường làm việc với các trang thiết bị hiện đại, cung cách làm việc hiệu quả để ngày càng hoàn thiện việc phục vụ khách hàng.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-services-area">
    <div class="container">
        <div class="our-services-header">
            <h1 class="about-title">Chúng tôi làm gì?</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-services">
                    <div class="sigle-services-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="sigle-services-content fix">
                        <h2>Mua sắm tiện lợi</h2>
                        <p>Đặt hàng trực tuyến, giao hàng tận nơi đến mọi miền Tổ quốc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-services">
                    <div class="sigle-services-icon">
                        <i class="fas fa-book"></i>
                    </div>
                    <div class="sigle-services-content fix">
                        <h2>Chất lượng sản phẩm</h2>
                        <p>Dịch vụ bọc sách bằng bọc nhựa cao cấp, thực hiện tỉ mỉ và cẩn thận cho từng cuốn</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-services">
                    <div class="sigle-services-icon">
                        <i class="fas fa-smile"></i>
                    </div>
                    <div class="sigle-services-content fix">
                        <h2>Chăm sóc khách hàng</h2>
                        <p>Dịch vụ chăm sóc khách hàng 7 ngày trong tuần, kể cả thứ 7 và chủ nhật thông qua tổng đài hoặc email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>