@model List<Model.EF.Sach>

@{
    var category = (Model.EF.DanhMucSP)ViewBag.Category;
    ViewBag.Title = category.TenDM;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <!--category-->
    <div class="col-md-3 col-sm-3">
        <div class="slider-left" style="padding-top: 25px">
            @{Html.RenderAction("ProductCategory", "Product");}
        </div>
    </div>
    <!--item-->
    <div class="col-md-9 col-sm-9">
        <div class="product-items-area">
            <div class="product-items">
                <h2 class="product-header">@category.TenDM</h2>
                <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4">                     
                                <div class="single-product" style="background-color: white; margin-bottom: 30px; height:360px">
                                    <div class="single-product-img" style="width: 100%">
                                        <a href="/Product/Detail/@item.MaSach">
                                            <img class="primary-img" src="~/assets/images/@item.HinhAnh" alt="product">
                                        </a>
                                        <div class="single-product-action">
                                            <a href="/Product/Detail/@item.MaSach"><i class="fas fa-eye"></i></a>
                                            <a href="/them-gio-hang?productId=@item.MaSach&quantity=1"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-product-content" style="height:25%">
                                        <div class="product-content">
                                            <h2 style="margin-top: 0px"><a href="/Product/Detail/@item.MaSach">@item.TenSach</a></h2>
                                            <p>Giá bán : @item.GiaBan VNĐ</p>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        }
                    
                </div>
            </div>
        </div>
    </div>
</div>

