USE [BookStoreOnline]
GO
/****** Object:  Table [dbo].[NhomTK]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomTK](
	[MaNhomTK] [bigint] IDENTITY(1,1) NOT NULL,
	[TenNhomTK] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhomTK] PRIMARY KEY CLUSTERED 
(
	[MaNhomTK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhomTK] ON
INSERT [dbo].[NhomTK] ([MaNhomTK], [TenNhomTK]) VALUES (1, N'Admin')
INSERT [dbo].[NhomTK] ([MaNhomTK], [TenNhomTK]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[NhomTK] OFF
/****** Object:  Table [dbo].[NhaXB]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaXB](
	[MaNXB] [bigint] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](300) NOT NULL,
	[MoTa] [ntext] NOT NULL,
	[HinhAnh] [varchar](50) NULL,
 CONSTRAINT [PK_NhaXB] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NhaXB] ON
INSERT [dbo].[NhaXB] ([MaNXB], [TenNXB], [MoTa], [HinhAnh]) VALUES (2, N'MCBOOKS', N'MCBooks là thương hiệu chuyên xuất bản và phát hành sách ngoại ngữ hàng đầu Việt Nam, nổi tiếng với các đầu sách ngoại ngữ tiêng Anh, Hàn Quốc, Trung Quốc, Nhật Bản…', N'mc.jpg')
INSERT [dbo].[NhaXB] ([MaNXB], [TenNXB], [MoTa], [HinhAnh]) VALUES (3, N'Alphabooks', N'Công ty cổ phần Sách Alpha (Alpha Books Joint-Stock Company – gọi tắt là Alpha Books) do một nhóm trí thức trẻ thành lập ở Hà Nội năm 2005 với niềm tin: Tri thức là Sức mạnh. Thông qua việc giới thiệu các tác phẩm có giá trị của thế giới, Alpha Books mong muốn trở thành nhịp cầu nối nguồn tri thức nhân loại với dân tộc Việt Nam.', N'alpha.jpg')
SET IDENTITY_INSERT [dbo].[NhaXB] OFF
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [bigint] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](100) NOT NULL,
	[MoTa] [ntext] NOT NULL,
	[ChietKhau] [int] NOT NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [ChietKhau]) VALUES (1, N'Siêu khuyến mãi cùng Đinh Tỵ', N'Giảm giá sâu toàn bộ sách best-seller của Đinh Tị, đặc biệt giảm giá 40% tất cả các đơn hàng có tổng giá bìa từ 700K trở lên', 15)
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [ChietKhau]) VALUES (2, N'Chào xuân Canh Tý với MCBooks', N'Gian sách đồng giá chỉ từ 3000đ và hàng loạt sách hay được giảm giá 70%', 10)
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [ChietKhau]) VALUES (3, N'Nhanh tay mua sách ngay', N'Cơ hội mua sách hot với giá chỉ 29K dành cho những khách hàng đầu tiên đến với gian hàng Đinh Tị trong các ngày 18,19 và 22/4', 25)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
/****** Object:  Table [dbo].[DanhMucSP]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSP](
	[MaDM] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DanhMucSP] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMucSP] ON
INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM]) VALUES (1, N'Tư duy - Kỹ năng sống')
INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM]) VALUES (2, N'Tản văn - Truyện ngắn')
INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM]) VALUES (3, N'Sách Luyện Thi')
SET IDENTITY_INSERT [dbo].[DanhMucSP] OFF
/****** Object:  Table [dbo].[DanhGia]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDanhGia] [bigint] IDENTITY(1,1) NOT NULL,
	[MaTK] [bigint] NOT NULL,
	[TenTK] [varchar](50) NOT NULL,
	[NoiDung] [ntext] NOT NULL,
	[NgayDanhGia] [date] NOT NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaTK], [TenTK], [NoiDung], [NgayDanhGia]) VALUES (1, 2, N'tranlinh', N'Giao hàng rất nhanh, chất lượng sản phẩm rất tốt', CAST(0xB73E0B00 AS Date))
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaTK], [TenTK], [NoiDung], [NgayDanhGia]) VALUES (2, 3, N'thuphuong', N'Rất hài lòng với chất lượng phục vụ của website', CAST(0x79400B00 AS Date))
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaTK], [TenTK], [NoiDung], [NgayDanhGia]) VALUES (3, 8, N'thuhien', N'Giao hàng rất nhanh, bọc sản phẩm rất cẩn thận, chất lượng rất tốt', CAST(0x92400B00 AS Date))
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
/****** Object:  Table [dbo].[TacGia]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [bigint] IDENTITY(1,1) NOT NULL,
	[TenTG] [nvarchar](150) NOT NULL,
	[MoTa] [ntext] NULL,
	[HinhAnh] [varchar](50) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TacGia] ON
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [MoTa], [HinhAnh]) VALUES (1, N'Nguyễn Ngọc Thạch', N'Nguyễn Ngọc Thạch: Bút danh: Jade Vissel. Năm sinh: 2/1/1987 .Cung hoàng đạo: Bảo bình .Nghề Nghiệp: Nhà văn .Tác phẩm nổi bật: Lòng dạ đàn bà, Chuyển giới, trái tim Sư Tử,...', N'nguyen-ngoc-thach.jpg')
SET IDENTITY_INSERT [dbo].[TacGia] OFF
/****** Object:  Table [dbo].[Slide]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Slide](
	[MaSlide] [int] IDENTITY(1,1) NOT NULL,
	[TenSlide] [varchar](50) NOT NULL,
	[HinhAnh] [varchar](50) NOT NULL,
	[Url] [varchar](50) NULL,
	[TitleID] [varchar](20) NULL,
	[TTHienThi] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[MaSlide] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON
INSERT [dbo].[Slide] ([MaSlide], [TenSlide], [HinhAnh], [Url], [TitleID], [TTHienThi], [TrangThai]) VALUES (1, N'slide1', N'slide1.png', N'assets\images\slide1.png', N'#htmlcaption1', 1, 1)
INSERT [dbo].[Slide] ([MaSlide], [TenSlide], [HinhAnh], [Url], [TitleID], [TTHienThi], [TrangThai]) VALUES (2, N'slide2', N'slide2.png', N'assets\images\slide2.png', N'#htmlcaption2', 2, 1)
INSERT [dbo].[Slide] ([MaSlide], [TenSlide], [HinhAnh], [Url], [TitleID], [TTHienThi], [TrangThai]) VALUES (4, N'slide3', N'slide3.png', N'assets\images\slide3.png', N'#htmlcaption3', 3, 1)
SET IDENTITY_INSERT [dbo].[Slide] OFF
/****** Object:  Table [dbo].[TinTuc]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTinTuc] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](500) NOT NULL,
	[NoiDung] [ntext] NOT NULL,
	[NgayTao] [date] NOT NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON
SET IDENTITY_INSERT [dbo].[TinTuc] OFF
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNhomTK] [bigint] NOT NULL,
	[TenTK] [varchar](50) NOT NULL,
	[MatKhau] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](300) NOT NULL,
	[NgaySinh] [date] NULL,
	[Email] [varchar](50) NULL,
	[SDT] [varchar](15) NOT NULL,
	[AnhDaiDien] [varchar](100) NULL,
	[NgayTao] [date] NOT NULL,
	[MaDanhGia] [bigint] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON
INSERT [dbo].[TaiKhoan] ([MaTK], [MaNhomTK], [TenTK], [MatKhau], [HoTen], [DiaChi], [NgaySinh], [Email], [SDT], [AnhDaiDien], [NgayTao], [MaDanhGia]) VALUES (1, 1, N'Administrator', N'1234', N'Nguyễn Thúy', N'Hà Nội', CAST(0x62220B00 AS Date), N'nguyenthuy@gmail.com', N'0987220060', N'meo.jpg', CAST(0x6F390B00 AS Date), NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [MaNhomTK], [TenTK], [MatKhau], [HoTen], [DiaChi], [NgaySinh], [Email], [SDT], [AnhDaiDien], [NgayTao], [MaDanhGia]) VALUES (2, 2, N'tranlinh', N'1234', N'Trần Thị Linh', N'Ninh Bình', CAST(0xAE1D0B00 AS Date), N'linhtran@gmail.com', N'0912003392', N'marie.png', CAST(0xCA390B00 AS Date), NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [MaNhomTK], [TenTK], [MatKhau], [HoTen], [DiaChi], [NgaySinh], [Email], [SDT], [AnhDaiDien], [NgayTao], [MaDanhGia]) VALUES (3, 2, N'thuphuong', N'1234', N'Trần Thu Phương', N'Nam Định', CAST(0x75170B00 AS Date), N'phuong@gmail.com', N'0915293601', N'meo.jpg', CAST(0x283B0B00 AS Date), NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
/****** Object:  Table [dbo].[Sach]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [bigint] IDENTITY(1,1) NOT NULL,
	[MaTG] [bigint] NOT NULL,
	[MaNXB] [bigint] NOT NULL,
	[MaDM] [bigint] NOT NULL,
	[MaKM] [bigint] NOT NULL,
	[TenSach] [nvarchar](100) NOT NULL,
	[NgayPhatHanh] [date] NOT NULL,
	[MoTa] [ntext] NOT NULL,
	[HinhAnh] [varchar](100) NOT NULL,
	[GiaBan] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON
INSERT [dbo].[Sach] ([MaSach], [MaTG], [MaNXB], [MaDM], [MaKM], [TenSach], [NgayPhatHanh], [MoTa], [HinhAnh], [GiaBan], [SoLuong], [TrangThai]) VALUES (1, 1, 10, 1, 10, N'Tuổi Trẻ Hoang Dại', CAST(0xEE3F0B00 AS Date), N'Một cuốn sách đơn giản của Nguyễn Ngọc Thạch, đặt sự hữu dụng tính tích cực lên hàng đầu. Sách bao gồm nhiều bài viết ngắn, nói lên cách nhìn nhận và suy nghĩ về cuộc sống, gia đình, công việc, cũng như cơn trầm cảm và khủng hoảng nửa đời người của tác giả, một người vừa đi qua tuổi trẻ và vào giai đoạn thứ ba của cuộc đời.', N'tuoitre.jpg', 60000, 50, 1)
INSERT [dbo].[Sach] ([MaSach], [MaTG], [MaNXB], [MaDM], [MaKM], [TenSach], [NgayPhatHanh], [MoTa], [HinhAnh], [GiaBan], [SoLuong], [TrangThai]) VALUES (5, 5, 10, 1, 11, N'Không Phải Chưa Đủ Năng Lực , Mà Là Chưa Đủ Kiên Định', CAST(0x17400B00 AS Date), N'Bạn định sẽ giảm cân sớm thôi, nhưng không bao giờ ngừng nuông chiều bản thân, ăn uống vô độ?', N'kdinh.jpg', 70000, 27, 1)
INSERT [dbo].[Sach] ([MaSach], [MaTG], [MaNXB], [MaDM], [MaKM], [TenSach], [NgayPhatHanh], [MoTa], [HinhAnh], [GiaBan], [SoLuong], [TrangThai]) VALUES (6, 6, 6, 2, 9, N'Mắt Biếc', CAST(0xAC400B00 AS Date), N'Mắt biếc là một tác phẩm được nhiều người bình chọn là hay nhất của nhà văn Nguyễn Nhật Ánh. Tác phẩm này cũng đã được dịch giả Kato Sakae dịch sang tiếng Nhật để giới thiệu với độc giả Nhật Bản. ', N'mb.png', 150000, 100, 1)
SET IDENTITY_INSERT [dbo].[Sach] OFF
/****** Object:  Table [dbo].[DonHang]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [bigint] IDENTITY(1,1) NOT NULL,
	[MaTK] [bigint] NOT NULL,
	[NguoiDat] [nvarchar](100) NOT NULL,
	[NguoiNhan] [nvarchar](100) NOT NULL,
	[NgayDatHang] [date] NOT NULL,
	[DiaChiNguoiNhan] [ntext] NOT NULL,
	[SDTNguoiNhan] [varchar](15) NOT NULL,
	[TongTien] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON
INSERT [dbo].[DonHang] ([MaDH], [MaTK], [NguoiDat], [NguoiNhan], [NgayDatHang], [DiaChiNguoiNhan], [SDTNguoiNhan], [TongTien], [TrangThai]) VALUES (1, 2, N'Trần Thị Linh', N'Trần Thị Linh', CAST(0x463F0B00 AS Date), N'số 7, Yên Khánh, Ninh Bình', N'0912003392', 200000, 3)
INSERT [dbo].[DonHang] ([MaDH], [MaTK], [NguoiDat], [NguoiNhan], [NgayDatHang], [DiaChiNguoiNhan], [SDTNguoiNhan], [TongTien], [TrangThai]) VALUES (2, 3, N'Trần Thu Phương', N'Trần Thu Phương', CAST(0x57400B00 AS Date), N'số 20, Ý Yên, Nam Định', N'0915293601', 100000, 2)
INSERT [dbo].[DonHang] ([MaDH], [MaTK], [NguoiDat], [NguoiNhan], [NgayDatHang], [DiaChiNguoiNhan], [SDTNguoiNhan], [TongTien], [TrangThai]) VALUES (3, 4, N'Lê Nhật Lệ', N'Lê Nhật Lệ', CAST(0x163F0B00 AS Date), N'số 2, phường Nam Thành, Tĩnh Gia, Thanh Hóa', N'0923071849', 509000, 2)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
/****** Object:  Table [dbo].[ChiTietDH]    Script Date: 05/17/2020 22:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDH](
	[MaDH] [bigint] NOT NULL,
	[MaSach] [bigint] NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDH] ([MaDH], [MaSach], [TenSP], [SoLuong], [DonGia]) VALUES (1, 19, N'Để Không Có Tiền Vẫn Tạo Ra Tiền', 2, 50000)
INSERT [dbo].[ChiTietDH] ([MaDH], [MaSach], [TenSP], [SoLuong], [DonGia]) VALUES (1, 20, N'Hướng Dẫn Đầu Tư', 2, 50000)
INSERT [dbo].[ChiTietDH] ([MaDH], [MaSach], [TenSP], [SoLuong], [DonGia]) VALUES (2, 15, N'Rèn Kỹ Năng Làm Bài Từ Đồng Nghĩa Và Trái Nghĩa', 1, 100000)
/****** Object:  Default [DF_Sach_TrangThai]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF_Sach_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
/****** Object:  Default [DF_TaiKhoan_AnhDaiDien]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_AnhDaiDien]  DEFAULT ('customAvatar.png') FOR [AnhDaiDien]
GO
/****** Object:  Default [DF_TaiKhoan_NgayTao]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
/****** Object:  Default [DF_TinTuc_NgayTao]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[TinTuc] ADD  CONSTRAINT [DF_TinTuc_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
/****** Object:  ForeignKey [FK_ChiTietDH_DonHang]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[ChiTietDH]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDH_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDH] CHECK CONSTRAINT [FK_ChiTietDH_DonHang]
GO
/****** Object:  ForeignKey [FK_ChiTietDH_Sach]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[ChiTietDH]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDH_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDH] CHECK CONSTRAINT [FK_ChiTietDH_Sach]
GO
/****** Object:  ForeignKey [FK_DonHang_TaiKhoan]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TaiKhoan]
GO
/****** Object:  ForeignKey [FK_Sach_DanhMucSP]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_DanhMucSP] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMucSP] ([MaDM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_DanhMucSP]
GO
/****** Object:  ForeignKey [FK_Sach_KhuyenMai]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_KhuyenMai] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_KhuyenMai]
GO
/****** Object:  ForeignKey [FK_Sach_NhaXB]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXB] ([MaNXB])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXB]
GO
/****** Object:  ForeignKey [FK_Sach_TacGia]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]
GO
/****** Object:  ForeignKey [FK_TaiKhoan_DanhGia]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_DanhGia] FOREIGN KEY([MaDanhGia])
REFERENCES [dbo].[DanhGia] ([MaDanhGia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_DanhGia]
GO
/****** Object:  ForeignKey [FK_TaiKhoan_NhomTK]    Script Date: 05/17/2020 22:37:08 ******/
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhomTK] FOREIGN KEY([MaNhomTK])
REFERENCES [dbo].[NhomTK] ([MaNhomTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhomTK]
GO
